* {
	margin: 0px;
	padding: 0px;
}

html {
	height: 100vh;
	width: 100vw;
}
main {
	height: 92vh;
	width: 100vw;
	margin-top: 8vh;
	background: url("../public/bg.jpg") no-repeat center center;
	background-size: cover;
}

.navbar {
	position: fixed;
	display: flex;
	justify-content: space-around;
	top: 0px;
	left: 0px;
	background-color: #222222;
	width: 100vw;
	height: 8vh;
	align-items: center;
}

.ul-navbar {
	display: flex;
}

.li-navbar {
	display: inline-block;
	cursor: pointer;
	color: #eeeeee;
	padding: 8px;
	margin-left: 32px;
	border-radius: 2px;
}

.li-navbar:hover {
        background-color: #eeeeee;
        color:#222222;
}

.link-navbar {
	height:100%;
	width:100%;
	color: inherit;
	background-color: inherit;
	text-decoration: none;
}

.title-navbar {
	color: #eeeeee;
	font-size: 24px;
}

